@{
    ViewData["Title"] = "Le site des courtiers";
}

<div class="text-center">
    <h1 class="display-4">Courtier - Client Agenda</h1>
    <p>Plannifiez simplement les rendez-vous entre courtiers et clients, en seulement un clique !</p>
</div>
