@model Appointment
@{
    ViewData["Title"] = "Ajouter un Rendez-vous";
}

<div class="m-5 d-flex justify-content-between">
    <h2> Ajouter un rendez-vous </h2> 
</div>

}

<div asp-validation-summary="All"></div> 

<form method="post" style="width:75%;margin:auto;">
   <fieldset>
    <div class="mb-3 form-group">
        <label asp-for="DateHour" class="form-label"></label>
        <input asp-for="DateHour" class="form-control" /> 
        <span asp-validation-for="DateHour" class="text-danger"></span>
    </div>
    <div class="mb-3 form-group">
        <label asp-for="Subject" class="form-label"></label>
        <input asp-for="Subject" class="form-control" /> 
        <span asp-validation-for="Subject" class="text-danger"></span>
    </div>
    <div class="mb-3 form-group">
        <label asp-for="IdBroker" class="form-label">Nom du courtier</label>
        <select asp-for="IdBroker" asp-items="@ViewBag.Brokers" class="form-select">
        </select>
    </div>
    <div class="mb-3 form-group">
        <label asp-for="IdCustomer" class="form-label">Nom du client</label>
        <select asp-for="IdCustomer" asp-items="@ViewBag.Customers" class="form-select">
        </select>
    </div>
    <div class="text-center m-4 p-2">
        <button class="btn btn-secondary" style="width:100px">Ajouter</button>
        <a class="btn btn-secondary" style="width:100px" asp-controller="Appointment" asp-action="Index">Revenir</a>
    </div>
   </fieldset>
</form>

@section Scripts {
      @{
          <partial name="_ValidationScriptsPartial"></partial>
      }
}